services:
  web:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./build/client:/usr/share/nginx/html/:ro
      - ./certs:/etc/nginx/certs:ro
    restart: always